doctype html
html(lang="en")
  head
    link(href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css', rel='stylesheet' type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet' type='text/css')
  body
    h1.logo freeCodeCamp
    #app
    script(src='index.js')
